html.dark {
  --bg-gradient: 27, 27, 31, 1;
  --bg-gradient-home: 20, 20, 20;
  --box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.6);
  --nav-bgc: rgba(0, 0, 0, 0.8);
  --box-shadow-hover: 0 2px 16px 0 rgba(0, 0, 0, 0.7);
  --badge-font-color: #bdc3cc;
  --description-font-color: #9facba;
}
.dark {
  --vp-c-bg: #1b1b1f;
  --vp-c-bg-alt: #161618;
  --vp-c-bg-elv: #202127;
  --vp-c-bg-soft: #202127;
}

.dark .VPHome {
  &::before {
    background-color: rgb(10, 10, 11);
    background-image: none;
  }
  background-image: url("./assets/grid.svg");
}
.VPHome {
  &::before {
    background-image: none;
  }
}

.VPDoc .content main img {
  max-height: 430px;
}

// element的样式
.el-row {
  margin-bottom: 20px;
}
.el-row:last-child {
  margin-bottom: 0;
}
.el-col {
  border-radius: 4px;
}

.grid-content {
  border-radius: 4px;
  min-height: 36px;
}

.mb-4 {
  margin-bottom: 1rem;
}